.card{
    height: 38vh;
    width: 15vw;
}
.bolder{
    font-weight: bolder;
}
.lighter{
    font-weight: lighter;
}
.circle{
    background-color: beige;
    height: 6vh;
    width: 6vh;
    border-radius: 100px;
    text-align: center;
    line-height: 6vh;
}
