
.bolder{
    font-weight: bolder;
}
.lighter{
    font-weight: lighter;
}
.circleEmployee{
    background-color: beige;
    height: 10vh;
    width: 10vh;
    border-radius: 100px;
    text-align: center;
    line-height: 10vh;
    font-weight: bold;
}

.center{
    
    line-height: 10vh;
}
